@import '../../styles//colors.scss';

.todolist {
  display: block;
  margin: 10px 20px;
  border-radius: 5px;
  border: 0;
}

.todo {
  border-bottom: 1px solid $sunflower-200;
  padding: 15px;
  background: $orange-200;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.isChecked {
    background: $turquoise-300;
    border-color: $turquoise-200;

    .name {
      color: $turquoise-100;
      text-decoration-line: line-through;
    }

    .checkmark {
      color: $turquoise-100;
    }
  }
  &:first-child {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
  }
  &:last-child {
    border: 0;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }
}

.checkmark {
  color: $asbestos-900;
}

.name {
  font-size: 16px;
  color: $asbestos-900;
}