@import '../../styles//colors.scss';
@import '../../styles/palette.module.scss';

.todolist {
  display: block;
  margin: 10px 20px;
  border-radius: 5px;
  overflow: hidden;
  border: 0;
  box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.2),
    0px 2px 2px 0px rgba(0,0,0,0.04)
    ;


  display: flex;
  flex-flow: row wrap;
  box-shadow: none;
  justify-content: space-evenly;
  margin: 0;

}

.todo {
  border-bottom: 1px solid $sunflower-200;
  padding: 15px;
  background: $accent;
  font-size: 12px;
  display: flex;

  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 2px;
  flex-basis: 45%;
  text-align: center;
  justify-content: center;
  font-family: marker, Arial, Helvetica, sans-serif;
  background: $accent-secondary;
  border: none;
  box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.2),
    0px 2px 2px 0px rgba(0,0,0,0.04)
    ;

  &.isChecked {
    background: $accent;
    border-color: $primaryLight;

    .name {
      color: $asbestos-400;
      text-decoration-line: line-through;
    }

    .checkmark {
      color: $turquoise-100;
    }
  }
  // &:first-child {
  //   border-top-right-radius: inherit;
  //   border-top-left-radius: inherit;
  // }
  // &:last-child {
  //   border: 0;
  //   border-bottom-right-radius: inherit;
  //   border-bottom-left-radius: inherit;
  // }
}

.deleteTodo {
  padding: 10px;
  background: $pomegranate-500;
  height: 100%;
  display: flex;
  align-items: center;
}

.checkmark {
  color: $asbestos-900;


  display: none;
}

.name {
  font-size: 16px;
  color: $asbestos-900;

  font-size: 18px;
  text-align: center;
  color: black;
}

.addTodoRow {
  width: 100%;
  padding: 10px;

  .textArea {
    padding: 10px 0;
    // background: white;

    input {
      width: 100%;
      padding: 5px 0;
      border: 0;
      border-bottom: 1px solid $asbestos-400;
      color: $asbestos-900;
      font-size: 16px;
      outline: none;
      background: transparent;

      &::placeholder {
        color: $asbestos-500;
      }
    }
  }

  .addButton {
    padding: 10px;
    background: $turquoise-600;
    border-radius: 5px;
    color: $clouds-200;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
  }
}