
.content {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  align-items: center;
}

.background {
  position: absolute;
  height: 100%;
  right: 0;
}