@import '../../styles/colors.scss';

.errorWrapper {
  text-align: center;
  color: $asbestos-600;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorImage {

  img {
    width: 100%;
  }
}

.errorText {
  margin-top: 45px;
  font-size: 25px;
}

.errorButton {
  margin-top: 25px;
}