$light: #f7f8f6;
$dark: #3a5f5a;
$light-secondary: #dddedd;
$dark-secondary: #293d3b;
$light-tertiary: #9e9e9e;
$dark-tertiary: #000000;
$light-light: #ffffff;
$dark-light: #ffffff;
$accent: #a4756a;
$accent-secondary: #b7928a;
$primary: #82c0a9;
$info: #87937a;
$success: #5cb46b;
$warning: #daa433;
$danger: #f44336;
$primary-secondary: #ffffff;
$info-secondary: #d3d8ce;
$success-secondary: #c5e4ca;
$warning-secondary: #f1deb4;
$danger-secondary: #fccbc7