$light: #f6f5f8;
$dark: #5f6679;
$light-secondary: #dcdae0;
$dark-secondary: #4c4f59;
$light-tertiary: #9d9d9d;
$dark-tertiary: #1d1e22;
$light-light: #ffffff;
$dark-light: #ffffff;
$accent: #ffe082;
$accent-secondary: #ffedb5;
$primary: #82c0a9;
$info: #d1d0ca;
$success: #5cb46b;
$warning: #daa433;
$danger: #f44336;
$primary-secondary: #ffffff;
$info-secondary: #ffffff;
$success-secondary: #c5e4ca;
$warning-secondary: #f1deb4;
$danger-secondary: #fccbc7;

// Derived colors
$primaryLight: lighten($primary, 15%);


// Post it note colors
$board: #CAB070;

// Marrakesh colors
$red: #F1515C;
$yellow: #FFD42C;
$green: #5FC08B;
$blue: #329AFE;
$purple: #C392C2;


// Text hierarchy
$primaryText: #fff;
$accentText: #424949;
$lightDim: #616a6b;